* {
  margin: 0;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.5rem;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-container {
  display: flex;
  padding: 10px;
}
.heading {
  border: 0.5px solid grey;
  box-sizing: border-box;
  padding: 15px;
}
